<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="6">
    <Properties>
        <Property name="logNm">logfile</Property>
        <Property name="layoutPattern">[%d{yyyy-MM-dd HH:mm:ss}][%-5p](%F:%M:%L) - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="LogToFile" fileName="./logs/${logNm}.log" filePattern="./logs/${logNm}.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" /> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
        </RollingFile>
        <RollingFile name="LogToFile2" fileName="./logs/${logNm}2.log" filePattern="./logs/${logNm}2.log.%d{yyyy-MM-dd}">
            <JSONLayout compact="true" complete="false" eventEol="true" objectMessageAsJsonObject="true" charset="UTF-8" locationInfo="true" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" /> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
        </RollingFile>
        <!--        <RollingFile name="LogToFile2" fileName="./logs/${logNm}2.log" filePattern="./logs/${logNm}2.log.%d{yyyy-MM-dd}">-->
        <!--            <JSONLayout compact="false" complete="false" eventEol="true" objectMessageAsJsonObject="true" charset="UTF-8" locationInfo="true">-->
        <!--                <KeyValuePair key="@timestamp" value="${date:dd-MM-yyyy HH:mm:ss}" />-->
        <!--                <KeyValuePair key="@Message" value="$${event:message}" />-->
        <!--                <KeyValuePair key="@LogLevel" value="$${event:level}" />-->
        <!--                <KeyValuePair key="ip" value="$${ctx:ip}"/>-->
        <!--            </JSONLayout>-->
        <!--            <Policies>-->
        <!--                <SizeBasedTriggeringPolicy size="10MB" /> &lt;!&ndash; 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 &ndash;&gt;-->
        <!--                <TimeBasedTriggeringPolicy modulate="true" interval="1" />&lt;!&ndash; 일별 로그 파일 생성&ndash;&gt;-->
        <!--            </Policies>-->
        <!--            <DefaultRolloverStrategy max="500" fileIndex="min" />&lt;!&ndash; 롤링 파일 500개 까지 생성 &ndash;&gt;-->
        <!--        </RollingFile>-->
        <RollingFile name="upload_process_json_appender" fileName="./logs/${logNm}3.log" filePattern="./logs/${logNm}3.log.%d{yyyy-MM-dd}">
            <JSONLayout compact="true" complete="false" eventEol="true" objectMessageAsJsonObject="true" charset="UTF-8" locationInfo="true" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" /> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- 일별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="StdOut"/>
        </Root>
        <Logger name="com.gig.log4j.core.service.ServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="com.gig.log4j.core.upload.UploadImpl" level="debug" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="upload_process_json_logger" level="debug" additivity="false">
            <AppenderRef ref="upload_process_json_appender"/>
        </Logger>
        <Logger name="org.apache.http.wire" level="debug" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.impl.conn.tsccm.ConnPoolByRoute" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.headers" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.quartz.simpl.SimpleJobFactory" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.client.protocol.RequestAuthCache" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.commons.httpclient" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.impl.conn.DefaultClientConnection" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>

        <Logger name="org.quartz.core.JobRunShell" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.quartz.core.QuartzSchedulerThread" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.quartz.core.QuartzScheduler" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.impl.client.DefaultRequestDirector" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.impl.conn.tsccm.ThreadSafeClientConnManager" level="debug" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>

        <Logger name="org.apache.http" level="warn" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.commons.httpclient" level="warn" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.wire" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
        <Logger name="org.apache.http.impl.conn.tsccm.ConnPoolByRoute" level="info" additivity="false">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="StdOut"/>
        </Logger>
    </Loggers>
</Configuration>